# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# Sensitive Data / Output
*.csv
AfrikLink_Weekly_Leads.csv
Filled_Outreach_Checklist_50_Companies (1).csv
Outreach_Checklist_50_Companies (1).csv

# Selenium / Browser Profile Data
apollo_profile/

# Debugging / Logs
*.log
apollo_page_source.html

# Environment Variables
.env
